.container {
    max-width: 114rem;
    margin: 0 auto;
}

.heading {
    
    &__5 {
        // font-size: 1.5rem;
        // font-weight: 600;
    }
}

.btn {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 1rem 2rem;
    transition: all .15s ease-in-out;
    border-radius: .7rem;

    &__primary {
        background: #0652DD;
        text-transform: uppercase;
        border: 2.5px solid rgba(#fff, .7);

        &:hover {
            background: darken(#0652DD, 10%);
        }

        &--yellow {
            background: #fa8231;

            &:hover {
                background: darken(#fa8231, 10%);
            }
        }
    }

}