.Premium {
    background: #f7f7f7;

    &__wrapper {
        padding: 7.5rem 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__heading {
        font-size: 4.5rem;
        font-weight: 500;
        color: #444;
        margin-bottom: 4.5rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__btn:hover .Premium__icon {
        fill: #fff;
    }

    &__icon {
        fill: #0652DD;
        margin-left: .5rem;
    }
}