.Premium {
    background: var(--color-light-7);

    &__wrapper {
        padding: 4rem 0 7.5rem 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__heading {
        font-size: 4rem;
        font-weight: 500;
        color: var(--color-black);
        margin-bottom: 4.5rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__btn {
        &:hover .Premium__icon, 
        &:active .Premium__icon, 
        &:focus .Premium__icon {
            fill: #fff;
        }
    }

    &__icon {
        width: 1.8rem;
        height: 1.8rem;
        fill: var(--color-primary);
        margin-left: .5rem;
    }
}