.Authorization {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background: var(--color-light-5);
    backface-visibility: hidden;
    
    &__wrapper {
        padding: 3rem 3.5rem;
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--color-white-bg);
        border-radius: .7rem;
        box-shadow: 0 0 3rem rgba(#000, .07);
        border: 2px solid rgba(#000, .12);
        transition: all .3s ease;
        z-index: 2;
        
        &--animate {
            box-shadow: 0 3rem 5rem rgba(#000, .07);
            transform: translate(-50%, -50%) translateY(-3rem);
            // border-color: var(--color-primary-opaque);
        }
    }

    &__lang {
        padding: 1rem 1.5rem;
        border-radius: .7rem;
        background: var(--color-white-bg);
        position: absolute;
        top: 3%;
        left: 2%;
        display: flex;
        z-index: 3;
        transition: all .3s ease;
        border: 1px solid rgba(#000, .07);
        
        &:hover {
            border-radius: .7rem .7rem 0 0;

            .Dropdown {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &--res { margin-top: .7rem; }
    }

    &__input {
        margin-bottom: 2rem;
        font-size: 1.45rem;
        padding: 1.5rem 2rem;
        width: 26rem;

        &--res { padding: 1rem 1.5rem; }
    }

    &__item {
        width: max-content;
        margin-bottom: 1.5rem;
    }

    &__info {
        font-size: 1.35rem;
        text-align: center;
        color: var(--color-grey-dark);
        transition: transform .3s ease;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &--res {
            text-align: start;
            margin-top: 1rem;
            font-size: 1.5rem;
            display: inline-block;
        }

        &--high {
            color: var(--color-primary);
            display: inline-block;
        }

        &--heading {
            font-size: 1.5rem;
            font-weight: 500;
            display: flex;
            align-items: center;
        }
    }

    &__btn {
        border-width: 3px;
        padding: 2rem 0;

        &:not(:last-child) { margin-bottom: .7rem; }
    }

    &__icon {
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--color-grey-dark);
        margin-right: .55rem;
    }
}