.Filter {
    background: var(--color-white-bg);
    border-bottom: 1px solid rgba(#000, .07);
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--color-grey-dark);
    transition: all .3s ease;
    position: relative;
    z-index: 2;
    box-shadow: 0 .5rem 2rem rgba(#000, .04);

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__heading {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: stretch;
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid rgba(#000, .07);
        flex-wrap: wrap;
        
        &--headline {
            align-items: center;
            border: none;
            padding-bottom: 0;
            justify-content: space-between;
        }
        
        &--bottomline { padding-bottom: 2rem; }
        
        &--midline {
            padding-bottom: 0;
        }
    }

    &__item {
        position: relative;

        flex-basis: calc((100% - 4 * 1.5rem) / 5);
        margin-right: 1rem;
        margin-bottom: 2rem;

        &:nth-child(5n) { margin-right: 0; }
        // &:last-child { mar }

        &--types {
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            flex-basis: auto;
            padding: .7rem 1.2rem;
            background: var(--color-light-5);
            border-radius: 2rem;
            border: 1px solid var(--color-primary-opaque);

            .Filter__link { margin: 0; }

            &:hover {
                color: #fff;
                background: var(--color-primary);
            }
        }
    }

    &__link {
        position: relative;
        margin-left: 1rem;
    }

    &__dropitem {
        padding: 1rem 2rem;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            background: var(--color-primary);
            color: #fff;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: .7rem;
        font-weight: 500;
        color: var(--color-grey-dark);
    }

    &__label {
        position: relative;
        flex-grow: 1;
        overflow: visible;
        width: 9.5rem;
    }

    &__input {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        border: 1px solid rgba(#000, .07);
        transition: all .3s ease;
        color: var(--color-grey-dark);
        border-radius: 0 !important;
        font-size: 1.55rem;
        width: 100%;

        &:not(:placeholder-shown) + .Filter__btn { visibility: visible; }

        &:hover,
        &:focus {
            background: var(--color-white-bg);

            .Dropdown {
                opacity: 1;
                visibility: visible;
            }
        }
        
        &--small {
            width: 100%;
            height: 4.2rem;
            padding-right: 3rem;
            
            &:hover,
            &:focus { 
                border-color: var(--color-primary-opaque);
            }
        }

        &--border {
            border-color: rgba(#000, .07) rgba(#000, .07) rgba(#000, .07) transparent;
        }
    }

    &__group {
        display: flex;
    }

    &__btn {
        margin-right: 1.75rem;
        font-size: 1.6rem; 

        &--abs {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            visibility: hidden;
            margin: 0;
        }
    }

    &__icon {
        width: 2.3rem;
        height: 2.3rem;
        fill: var(--color-grey-dark);
        transition: transform .3s ease;

        &--rotate { transform: rotate(-180deg); }

        &--big {
            width: 2.5rem;
            height: 2.5rem;
        }

        &--arrow {
            width: 2rem;
            height: 2rem;
        }
        
        &--small {
            margin-left: .5rem;
        }
    }
}