.Filter {
    background: #fff;
    border-bottom: 1px solid rgba(#000, .07);
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--color-grey-dark);
    transition: all .3s ease;

    // &--seize { padding: 1rem 0; }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__heading {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: stretch;
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid rgba(#000, .07);
        justify-content: space-between;
        
        &--headline {
            align-items: center;
            border: none;
            padding-bottom: 0;
        }
        
        &--bottomline {
            border: none;
            align-items: center;
        }
        
        &--midline {
            align-items: center;
            justify-content: space-between;
        }
    }

    &__item {
        width: calc((100% - 2 * 1.5rem) / 3);
        position: relative;

        &--types {
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            padding: .7rem 1.2rem;
            background: var(--color-light-5);
            border-radius: 2rem;
            border: 1px solid var(--color-primary-opaque);

            .Filter__link { margin: 0; }

            &:hover {
                color: #fff;
                background: var(--color-primary);
            }
        }

        &:not(:last-child) { margin-right: 1.5rem; }
    }

    &__link {
        position: relative;
        margin-left: 1rem;
    }

    &__dropitem {
        padding: 1rem 2rem;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            background: var(--color-primary);
            color: #fff;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: .7rem;
        font-weight: 500;
        color: var(--color-grey-dark);
    }

    &__input {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        border: 1px solid rgba(#000, .07);
        transition: all .3s ease;
        border-radius: 0 !important;

        &:hover,
        &:focus {
            background: #fff;

            .Dropdown {
                opacity: 1;
                visibility: visible;
            }
        }
        
        &--small {
            width: 9.5rem;
            height: 4.2rem;
            
            &:hover,
            &:focus { background: var(--color-light-5); }

            &:first-child {
                border-color: rgba(#000, .07) transparent rgba(#000, .07) rgba(#000, .07);

                &:focus { border-color: var(--color-primary-opaque) }
            }

            &:nth-child(2) {
                border-radius: 0 .7rem .7rem 0;
            }
        }

        &--sort {
            padding: 1rem;
            font-size: 1.3rem;
        }
    }

    &__group {
        display: flex;
    }

    &__btn {
        margin-right: 1.75rem;
        font-size: 1.6rem; 
    }

    &__icon {
        width: 2.3rem;
        height: 2.3rem;
        fill: var(--color-grey-dark);
        transition: transform .3s ease;

        &--rotate { transform: rotate(-180deg); }

        &--big {
            width: 2.5rem;
            height: 2.5rem;
        }

        &--arrow {
            width: 2rem;
            height: 2rem;
        }
        
        &--small {
            margin-left: .5rem;
        }
    }
}