.Card {
    height: 32rem;
    background: var(--color-white-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2.5px solid rgba(#000, .095);
    border-radius: .7rem;
    box-shadow: 0 0rem 1.5rem rgba(#000, .03);
    padding: 1.5rem;
    position: relative;
    backface-visibility: hidden;

    transition: transform .1s ease;
    animation: popCard 2s cubic-bezier(0.99, -0.01, 0, 0.99);
    animation-delay: .35s;
    animation-fill-mode: backwards;
    
    width: calc((100% - 3 * 5rem) / 4);
    margin-right: 5rem;
    margin-bottom: 5rem;
    
    &:nth-child(4n) { margin-right: 0; }

    &:focus,
    &:active,
    &:hover {
        border-color: var(--color-primary-opaque);
        outline: none;
        transform: scale(1.02);

        .Card__wrapper .Card__item--price { border-color: var(--color-white-opaque-5); }
    }

    &__wrapper { 
        height: 100%;
        width: 100%;
    }
    
    &__fig {
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: .7rem;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        &:not(:last-child) { margin-bottom: 1rem; }

        &--head {
            width: 100%;
            height: 15rem;
        }

        &--footer {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: stretch;
            border-radius: .7rem;
            overflow: hidden;
        }
    }

    &__item {
        font-size: 1.4rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &:not(:last-child) { margin-bottom: .7rem; }

        &--price {
            padding: .7rem 2.5rem;
            background: var(--color-primary);
            border: 2.5px solid var(--color-white-opaque-7);
            color: #fff;
            border-radius: .7rem;
            font-size: 1.6rem;
            font-weight: 300;
        }
        
        &--heading {
            font-size: 2.2rem;
            margin-bottom: 1.5rem;
            font-weight: 500;
        }

        &--space {
            justify-content: space-between;
            align-items: center;
        }

        &--location {
            font-size: 1.3rem;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: var(--color-grey-7);
    }

    &__btn{
        position: absolute;
        bottom: 2.2rem;
        right: 1.5rem;
        padding: .7rem 0;

        &:hover .Card__icon { fill: var(--color-red); }
    }

    [data-favorite=true] &__icon {
        fill: var(--color-red);
    }
}

@keyframes popCard {
    0% {
        opacity: 0;
        transform: scale(.7);
    }
    50% {  
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}