.Navigation {
    background: #fff;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(#000, .07);
    box-shadow: 0 -1rem 4rem rgba(#000, .07);
    z-index: 2;

    &__wrapper {
        height: 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        height: 100%;

        &--space {
            justify-content: space-between;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        
        &:not(:last-child) {
            margin-right: 2rem;
        }

        &:hover {
            .Navigation__icon--arrow {
                transform: rotate(180deg);
            }

            .Dropdown {
                opacity: 1;
                visibility: visible;
            }
        }

        &--keep .Dropdown {
            opacity: 1;
            visibility: visible;
        }

        &--hide {
            display: none;
        }

        &--show {
            display: flex;
        }
    }

    &__link {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        color: #616161;
    }

    &__iconbox {
        padding: .8rem;
        position: relative;
        border-radius: 50%;
        background: #777;
        width: 4rem;
        height: 4rem;

        span {
            position: absolute;
            top: 0;
            right: 0;
            background: #a5a5a5;
            color: #fff;
            width: 1.05rem;
            height: 1.05rem;
            border-radius: 50%;
        }

        &--menu {
            border-radius: .7rem;
            background: #0652DD;
            border: none;
        }
    }
    
    &__icon {
        width: 1.7rem;
        height: 1.7rem;
        fill: #777;
        transition: all .3s ease;

        &:not(:last-child) {
            margin-right: .7rem;
        }

        &--white {
            fill: #fff;
            margin-right: 0;
            width: 2rem;
            height: 2rem;
        }

        &--abs {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    &__bottom {
        background: #f5f5f5;
        width: 100%;
        border: 1px solid rgba(#000, .05);
    }

    &__bottomwrap {
        height: 5rem;
        font-size: 1.45rem;
        display: flex;
        color: #777;
        justify-content: space-between;
        position: relative;
    }

    &__btn:not(:last-child) {
        margin-right: 1rem;
    }

    &__title {
        margin-right: .5rem;
        display: inline-block;
        font-weight: 600;
        font-size: 1.3rem;
        color: #616161;

        &--user {
            margin-right: 1rem;
            font-size: 1.5rem;
        }

        &--white {
            color: #fff;
            font-weight: 500;
        }
    }

    &__left {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
            .Navigation__icon--arrow {
                transform: rotate(180deg);
            }

            .Dropdown {
                opacity: 1;
                visibility: visible;
            }
        }

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}