.Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: transparent;

    &--white {
        background: var(--color-light-5-opaque);
        // background: var(--color-white-opaque-7);
    }
}