.Header {
    position: relative;
    z-index: 1;
    background: var(--color-white-bg);
    border-bottom: 1px solid rgba(#000, .07);
    
    &__wrapper {
        height: 63rem;
        width: 100%;
        display: flex;
    }

    &__list {
        width: 70%;
        height: 100%;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        // object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__heading {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 4rem;
        font-weight: 500;
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-light-7);
    }
}