.Header {
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid rgba(#000, .07);
    
    &__wrapper {
        height: 63rem;
        display: flex;
    }

    &__list {
        width: 75%;
        height: 100%;
        position: relative;

        &::after {
            content: "";
            width: 10%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: rgb(255,255,255);
            background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(0,212,255,0) 100%);
            z-index: 2;
        }
    }

    &__item {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        // object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__heading {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 4rem;
        font-weight: 500;
    }

    &__btn {
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translate(-50%, -50%);
        z-index: 5;
        background: rgba(#000, .5);
        padding: .7rem;
        border-radius: 50%;
        transition: opacity .3s ease;

        &:not(.Header__btn--disabled):hover { background: rgba(#000, .9) }

        &--right { left: 92%; }

        &--disabled {
            opacity: .5;
            cursor: initial;
        }
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-light-7);
    }
}